.cards8 {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.cards16 {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.cards24 {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 25% 25% 25% 25%;
}